<html>
    <head>
    </head>
    
    <body>
        <form action="/testingresult" method="post">
            Name: <input type="text" name="name"  value="{{name}}"/><br>
            Mobile Number: <input type="text" name="mobileno" value="{{mobileno}}"/><br>
            <input type="submit" value="Submit" name="Submit"/>
        </form>
    </body>
    

</html>
